<div class="header">
   <div class="navbar navbar-default" role="navigation" id="navbar">
      <div class="container-fluid">
         <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>

            <!--<a class="navbar-brand" href="#/">productManagementFrontend</a>-->
         </div>

         <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
               <li ui-sref-active="active"><a ui-sref="Commit.home">Home</a></li>
               <li ui-sref-active="active"><a ui-sref="Commit.products">Products</a></li>
               <li><a>Contact</a></li>
            </ul>
            <form ng-show="!isLoggedIn()" class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" name="username" placeholder="username" class="form-control" ng-model="userData.email">
              </div>
              <div class="form-group">
                <input type="password" name="password" placeholder="password" class="form-control" ng-model="userData.password">
              </div>
              <button type="button" name="login" class="btn btn-sm btn-warning form-control" ng-click="login()">Login</button>
              <button type="button" name="register" class="btn btn-sm btn-warning form-control"  ng-click="registerUser()">Register</button>
              <div class="help-block" ng-model="message">{{message}}</div
            </form>
         </div>
      </div>
   </div>
</div>
